@import 'app/styles/colors.scss';
@import 'app/styles/mixins.scss';
@import 'app/styles/variables.scss';
@import 'app/styles/global.scss';

.validate-password {
  @include text(400, 10px, 20px);
  padding-bottom: 14px;
  span:first-child {
    display: block;
  }
  i {
    display: inline-block;
    margin-right: 15px;
  }
  .valid {
    color: $puerto-rico;
  }
  .invalid {
    color: $red;
  }
}
