$puerto-rico: #5bc49b;
$white: #ffffff;
$alabaster: #f3f3f5;
$aztec: #091013;
$alto: #dcd8d8;
$header-color: #fff;
$red: #d9534f;
$header-color-secondary: #bbb;
$aquamarine: #70ffc7;
$fun-green: #046240;
$header-color-hover: darken($header-color, 20%);
$dirtyAsh: #bac2bd;
$brown: #533f03;
$off-white: #f5f5f5;
