$size1050: 1050px;
$size945: 945px;
$size1024: 1024px;
$size905: 905px;
$size850: 850px;
$size790: 790px;
$size767: 767px;
$size680: 680px;
$size575: 575px;
$size420: 420px;
$size375: 375px;
$size360: 360px;
$size200: 200px;
$size90: 90px;
$size55: 55px;
