.color {
  color: #ffffff;
}

.loading {
  height: 18px;
  width: 18px;
  text-align: center;
}
.page-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
}
